<!--<div class="footer">
       <div class="ml-3 d-flex align-items-center">
        <mat-icon>mode_comment</mat-icon>
        Commentaires
    </div>
    <div class="ml-3 d-flex align-items-center">
        <mat-icon>g_translate</mat-icon>
        Français
    </div>
    <p class="ml-3 m-0 p-0 d-lg-flex d-none align-items-center">© 2018 - 2019, Yet Marketing, Eurl. Tous droits réservés.
    </p>
    <div class="space"></div>
    <a href="" class="ml-3 d-lg-flex d-none align-items-center">Politique de confidentialité</a>
    <a href="" class="ml-3 mr-3 d-lg-flex d-none align-items-center">Conditions d'utilisations</a> 
</div>-->
