.mt-form {
  padding-top: 83px;
}

.compagn {
  background-color: beige;
  position: relative;
  top: 21px;
  padding-top: 25px;
  height: calc(100vh - 130px);
}

.waitEmails {
  position: absolute;
  height: 100vh;
  top: 98px;
  background-color: #fffa618c;
  z-index: 1222;
}
