<div class="container-fluid h-100" *ngIf="spec | async as spec">
  <div class="row  h-100">
    <div
      class="col-lg-7 col-12 h-100  d-flex align-items-center justify-content-center auth"
    >
      <a href="https://yet.marketing" class="logo"></a>
      <app-authw
        state="login"
        go="go"
        route="{{ spec.route }}"
        queryParams="{{ spec.queryParams }}"
        logo="{{ spec.logologin }}"
      >
      </app-authw>
    </div>
    <div
      class="col-lg-5 backing  h-100 p-0 d-lg-flex d-none align-items-center justify-content-center"
      [style.backgroundImage]="
        'url(' + spec.backgroundImage + '?dummy=' + date + ')'
      "
    ></div>
  </div>
</div>
