.auth {
  background-color: #fff;
}

#logo {
  height: 220px;
  width: 220px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.backing {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.backing:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #474943f7, #000000);
  opacity: 0.3;
}

.logo {
  background-image: URL(./../../assets/icons/icon-512x512.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 32px;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 22px;
}
