<div *ngIf="!datastudio" class="container-fluid mt-6">
  <div class="row">
    <div class="col-lg-12">
      <h3>Bienvenue {{ user }} dans votre tableau de bord</h3>
    </div>
  </div>
  <div class="row mt-4" *ngIf="dashs | async as dashs; else wait">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 d-flex flex-wrap">
          <a
            style="color: #01887b;"
            class="mr-3"
            *ngFor="let link of spec.actions"
            href="/#{{ link.link }}"
            >+{{ link.name }}</a
          >
        </div>
      </div>
      <div class="row mt-4">
        <div
          *ngIf="dashs.finnance && dashs.finnance[0]"
          class="col-lg-4 d-flex flex-column"
        >
          <h4 class="mt-3">Journée du {{ dashs.finnance[0].time }}</h4>
          <div
            class="label d-flex flex-row mr-3 justify-content-between"
            [ngStyle]="{
              position: 'relative'
            }"
            *ngFor="let info of dashs.finnance[0].day; let i = index"
          >
            <span class="title" *ngIf="i === 0" style="color: #01887b;"
              >Réglement</span
            ><span class="title" *ngIf="i === 1" style="color: #01887b;"
              >Reste à payer</span
            ><span class="title" *ngIf="i === 2" style="color: #01887b;"
              >Total vente</span
            >
            <span class="value">{{ info | number: 2 }}</span>
          </div>
        </div>
        <div
          *ngIf="dashs.finnance && dashs.finnance[0]"
          class="col-lg-4 d-flex flex-column"
        >
          <h4 class="mt-3">
            Mois de {{ dashs.finnance[0].time.substring(3) }}
          </h4>
          <div
            class="label d-flex flex-row mr-3 justify-content-between"
            [ngStyle]="{
              position: 'relative'
            }"
            *ngFor="let info of dashs.finnance[0].month; let i = index"
          >
            <span class="title" *ngIf="i === 0" style="color: #01887b;"
              >Réglement</span
            ><span class="title" *ngIf="i === 1" style="color: #01887b;"
              >Reste à payer</span
            ><span class="title" *ngIf="i === 2" style="color: #01887b;"
              >Total vente</span
            >
            <span class="value">{{ info | number: 2 }}</span>
          </div>
        </div>
        <div
          *ngIf="dashs.finnance && dashs.finnance[0]"
          class="col-lg-4 d-flex flex-column"
        >
          <h4 class="mt-3">Année {{ dashs.finnance[0].time.substring(5) }}</h4>
          <div
            class="label d-flex flex-row mr-3 justify-content-between"
            [ngStyle]="{
              position: 'relative'
            }"
            *ngFor="let info of dashs.finnance[0].year; let i = index"
          >
            <span class="title" *ngIf="i === 0" style="color: #01887b;"
              >Réglement</span
            ><span class="title" *ngIf="i === 1" style="color: #01887b;"
              >Reste à payer</span
            ><span class="title" *ngIf="i === 2" style="color: #01887b;"
              >Total vente</span
            >
            <span class="value">{{ info | number: 2 }}</span>
          </div>
        </div>
      </div>
      <div class="row mt-4" *ngIf="dashs.finnance && dashs.finnance[0]">
        <div class="col-lg-12">
          <h4 class="mt-3">Tableaux des Journées</h4>
        </div>
        <div class="col-lg-5" style="height: 390px;">
          <div
            class="d-flex flex-row justify-content-between"
            style="border-bottom: solid 1px #37474f;"
          >
            <strong>Date</strong>
            <strong>Réglement</strong>
            <strong>Reste à payer</strong>
            <strong>Totla vente</strong>
          </div>
          <div
            class="d-flex flex-row justify-content-between"
            *ngFor="let info of dashs.finnance; let i = index"
            style="border-bottom: solid 1px #37474f;"
          >
            <strong>{{ info.time }}</strong>
            <span>{{ info.day[0] | number: 2 }}</span>
            <span>{{ info.day[1] | number: 2 }}</span>
            <span>{{ info.day[2] | number: 2 }}</span>
          </div>
        </div>
        <div class="col-lg-7">
          <div
            echarts
            [options]="charts"
            theme="macarons"
            class="demo-chart"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #wait>
  <mat-spinner diameter="50" class="m-5"></mat-spinner>
</ng-template>
<div *ngIf="datastudio" class="mt-6 w-100 d-flex">
  <iframe
    *ngIf="dashs | async as dashs"
    width="80%"
    height="800"
    [src]="dashs"
    frameborder="0"
    style="border: 0;"
    allowfullscreen
  ></iframe>
</div>
