td {
  font-size: 12px;
}

.mt-list {
  padding-top: 84px;
}

tr,
mat-card {
  cursor: pointer;
}

th.mat-sort-header-sorted {
  color: black;
}

.datatr:hover {
  background: #f5f5f5 !important;
}

::ng-deep th.mat-header-cell:first-of-type {
  padding-left: 24px !important;
}

::ng-deep .mat-row:nth-child(odd) {
  background-color: #fafafa;
}
::ng-deep tr.mat-row {
  height: 42px !important;
}

::ng-deep tr.mat-header-row {
  height: 36px !important;
  background-color: #e4e4e4 !important;
}

.mat-paginator {
  background: #fafafa00 !important;
}

.addItem {
  position: fixed;
  z-index: 4;
  right: 8px;
  bottom: 6px;
}

.yet-container {
  position: relative;
  border-radius: 4px;
}

.yet-table-container {
  border-radius: 4px;
  position: relative;
  max-height: calc(100vh - 290px);
  overflow: auto;
}

.mat-table-sticky:first-child {
  background-color: inherit;
}

.mat-table-sticky:last-child {
  background-color: #fafafa;
  box-shadow: 1px 1px 0px #dedede;
}

.mat-header-cell {
  color: rgb(96, 125, 139);
  font-weight: 300 !important;
  font-size: 14px !important;
}

.hfilter {
  height: 60px;
}

@media only screen and (max-width: 992px) {
  .pagehead {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .pagehead {
    display: flex;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #ffffffbf;
  position: absolute;
  z-index: 12;
}
