input[type="date"] {
  height: 36px;
  font-size: 17px;
  display: block;
  width: 100%;
}

::ng-deep .filter .mat-tab-header {
  display: none !important;
}

form {
  height: 100%;
}

h2 {
  font-size: 13px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
